* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  font-size: 12px;
  line-height: 1.5;
  background: #f6f6f6;
}
input {
  line-height: 1.4;
}
/* layout */
.page {
  display: flex;
  height: 100vh;
}
.page > aside {
  width: 200px;
}
.page > main {
  flex-grow: 1;
}
/* aside */
.page > aside {
  display: flex;
  flex-direction: column;
}
.newSong {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #999;
}
.newSong.active {
  background: #ffe2e2;
}
#songList-container {
  text-align: left;
  flex-grow: 1;
}
#songList-container > ul > li {
  border-bottom: 1px solid #ddd;
  padding: 10px 5px;
}
#songList-container > ul > li.active {
  background: #ffe2e2;
}

.draggable {
  padding: 20px;
  border-radius: 4px;
  border: 2px dashed rgb(176, 176, 176);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  flex-direction: column;
}
.clickable {
  cursor: pointer;
}
/* main */
main {
  background: #ffe2e2;
}
.form {
  font-size: 14px;
}
.form input[type='text'] {
  border-radius: 5px;
}
.form button {
  height: 30px;
  padding: 0 10px;
  border-radius: 5px;
  background: #f6f6f6;
}
.form > .row {
  padding: 10px 8px;
}
.form > .row > label {
  text-align: right;
}
.form > .row.actions {
  margin-left: -2px;
}
.form > .row.actions > button {
  margin-left: 30px;
}
/* lodding */
.animation-loading {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.animation-loading.active{
  visibility: visible;
}
.animation-loading::before {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  background: rgb(85, 85, 85);
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  border-radius: 50%;
  animation: loading 1s infinite alternate-reverse;
  animation-timing-function: linear;
}
@keyframes loading{
  0%{
    transform: scale(1.0)
  }
  100%{
    transform: scale(0.1)
  }
}
textarea{
  min-width: 300px;
  min-height: 150px;
}